### Ignore everything ###
*

### Dotfiles Whitelist ###
#/.*
!/.aliases
!/.gitconfig
!/.gitignore
!/.profile
!/.slate
!/.vimrc


### Dotfiles Blacklist ###
## Mac Files ##
#._*
#.DS_Store

## Dont share history ##
#.bash_history
#.lesshst

## Misc ##
#.viminfo
